.game {
    width: 600px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
    background-image: url('old\ backround.jpeg'); /* Replace with your background image path */
    background-size: cover; /* Adjust the background size */
    background-position: center; /* Center the background image */
}

#dino {
    width: 50px;
    height: 50px;
    background-image: url('gros\ 1.jpeg');
    background-size: 50px 50px;
    position: relative;
    top: 150px;
}

.jump {
    animation: jump 0.3s linear;
}


@keyframes jump {
    0% {
        top: 150px;
    }

    30% {
        top: 130px;
    }

    50% {
        top: 80px;
    }

    80% {
        top: 130px;
    }

    100% {
        top: 150px;
    }
}

    
#cactus {
    width: 40px;
    height: 40px;
    position: relative;
    top: 110px;
    left: 580px;
    background-image: url("légumes.jpeg");
    background-size: cover; /* Ajuste la taille de l'image pour couvrir tout l'élément */
    background-position: center; /* Centre l'image dans l'élément */  
}

.cactus-animation {
    animation: block 1s infinite linear;
}

@keyframes block {
    0% {
    left: 580px;
    }
    100% {
    left: -20px;
    }
}